# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build and Release Folders
dist/
build/

# Optional npm cache directory
.npm/

# Environment variables
.env

# IDE / Editor directories and files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Executables
*.swf
*.air
*.ipa
*.apk

# Temporary files
*.tmp
*.temp

# Miscellaneous
.settings/
